/eclipse
/lib
/build
/build_32
/CMakeFiles
/src/CMakeFiles
/bin

.settings/
.project
.cproject
MakeFile
response.txt
solver_log.txt
CMakeCache.txt
.DS_Store

*.txt
*.swo
*.pdf
*.cmake
*.swp
*.exe
*.opensdf
*.sdf
*.user
*.tlog
*.pdb
*.obj
*.log
*.wav
*.mexw64
*.lib
*.mat
*.bmp
*.skb
*.skp
*.vtk
*.png
*.fig
*.eps
*.tga
*.ply
*.suo
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a


