/src/tests
/eclipse
/lib/
/CMakeFiles
/src/CMakeFiles
/bin

.project
MakeFile
response.txt
solver_log.txt


*.cmake
*.swp
*.exe
*.opensdf
*.sdf
*.user
*.tlog
*.pdb
*.obj
*.log
*.wav
*.mexw64
*.lib
*.mat
*.bmp
*.skb
*.skp
*.vtk
*.png
*.fig
*.eps
*.tga
*.ply

*.suo
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a


